<h1>Listing assignments</h1>



<% if @user %>
<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>Assignment Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <% @user.assignments.each do |assignment| %>
        <tr>
          <td><%= @user.name %></td>
          <td><%= assignment.name %></td>
          <td><%= assignment.description %></td>
          <td><%= link_to 'Show', assignment %></td>
          <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
          <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Assignment', new_assignment_path %>
